.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/tumba-faraon.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5a422f;
  position: relative;
}

.menu-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.beetle-container{
  display: flex;
}

.beetle-container .beetle:first-child {
  width: 12rem;
  height: 12rem;
  align-self: flex-end;
  -webkit-animation-duration: 2.2s;
  animation-duration: 2.2s;
}

/* Diseño Responsive */
@media (max-width: 768px) {
  .container {
    background-image: url(./images/tumba-faraon-mobile.jpg);
  }
  .menu-container{
    max-width: 85%;
  }
}
@media(max-width: 576px){
  .beetle-container .beetle:first-child{
    width: 6rem;
    height: 6rem;
  }
}