.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/tumba-faraon.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5a422f;
}
.test {
  font-size: 30px;
}
/* Diseño Responsive */
@media (max-width: 768px) {
  .container {
    background-image: url(./images/tumba-faraon-mobile.jpg);
  }
}