.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/tumba-faraon.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5a422f;
  position: relative;
}

.menu-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Diseño Responsive */
@media (max-width: 768px) {
  .container {
    background-image: url(./images/tumba-faraon-mobile.jpg);
  }
}