.beetle{
    background-image: url(../../images/escarabajo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}